@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600,800';
html,
body {
  background-color: #000;
  color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.stopwatch {
  height: 50%;
  width: 100%;
  display: table;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.stopwatch span {
  display: table-cell;
  width: 50%;
  font-size: 8em;
  font-family: 'Open Sans', sans serif;
  text-align: center;
  vertical-align: middle;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.controls {
  height: 33%;
  width: 100%;
  display: table;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  border-bottom: 1px dashed #fff;
}

.controls div {
  display: table-cell;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.playpause {
  border-right: 1px dashed #fff;
  border-bottom: 1px dashed #fff;
}

.playpause .play {
  display: inline-block;
  border-top: 38px solid transparent;
  border-left: 50px solid #fff;
  border-bottom: 38px solid transparent;
}
.playpause .pause {
  border-right: 7px solid #fff;
  border-left: 7px solid #fff;
  padding: 28px 14px;
}
.coffeegram {
}

.times {
  
}

.cclas {
  width: 100%;
  /*display: inline-block;*/
  background-color: #fff;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 8em;
  font-family: 'Open Sans', sans serif;
  text-align: center;
  vertical-align: middle;
}

.grams .cclas {
  font-weight: 600;
}

.mins .cclas {
  font-weight: 600;
}

.secs .cclas {
  font-weight: 300;
}

.controls .desc {
  width: 100%;
  font-size: 5em;
  font-family: 'Open Sans', sans serif;
  text-align: center;
  vertical-align: middle;
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
}
/*
@media screen and (max-width: 500px) {
  .stopwatch span {
    font-size: 6em;
  }
}

@media screen and (max-width: 390px) {
  .stopwatch {
    height: 75%;
    display: block;
  }
  .controls {
    height: 25%;
  }
  .stopwatch span {
    width: 100%;
    height: 33%; 
    display: block;
  }
}*/
